<!DOCTYPE html>
<html>
<head>
  <title>We're sorry, but something went wrong (500)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', digest: true %>
  <%= javascript_include_tag "application" %>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/500.html -->
  <header>
<div class="row">
<div class="small-12 columns icons text-right">
<a href="mailto:admin at temporary.fi"><i class="fa fa-envelope"></i></a>
<a href="https://twitter.com/search?q=%23KuusiPalaa&amp;src=typd"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>

</div>
</div>
<div class="row">
<div class="top-bar small-12 columns lessmargins">
<div class="top-bar-left">
<a href="/"><img width="163" src="/assets/kuusi_palaa_logo-6c7fb3c1bdf92b6e5cbe4240cca35cee68a5e5dffb88557e3ca1f00b13b0a699.png" alt="Kuusi palaa logo"></a>
</div>


</div>
</div>
</header>
  <article id="#main">
    <div class="row">
      <div class="small-12 columns">
        <div class="lifted_box">
          <div class="title">The page you were looking for doesn't exist.</div>
          <div class="blurb">
            <p>You may have mistyped the address or the page may have moved.</p>
          </div>
        </div>
    </div>
  </article>
</body>
</html>
