$('#notifications_result').css('display', 'block');
$('#notifications_result').html('<div class="notification_saved"><%= t(:email_notifications_updated) %><br /><%= t(:email_spam_filter) %></div>')

$('#notifications_result').fadeOut(8000);