%footer
  .row
    .small-10.columns.small-centered.text-center
      = t :footer_blurb
      %span.divider |
      = link_to fa_icon('github'), 'https://github.com/BiathlonHelsinki/experiment2'
      %br/
      = t :footer_contact
      %br/
      .address Kuusi Palaa osk, Kolmas linja 7, 00530 Helsinki, Finland | y-tunnus 2880614-5

      %small= link_to t(:privacy_policy), page_path('privacy_policy')
