-# - if user_signed_in?
-#   - if can? :edit, item
-#     - if item.read_translated_attribute(attribute, session[:locale]).blank? 
-#       - buttontext = t(:add_a_translation_for_lang, lang: t(:locale_name))
-#       = t(:no_translation_in_lang, obj: '', lang: t(:locale_name))
-#     - else
-#       - buttontext = t(:edit) + " " + attribute.to_s
-#     .translate
      
-#       %p= link_to buttontext, '#', onClick: "$('##{item.class.to_s.downcase}_#{attribute}_#{item.id.to_s}').slideToggle();return false;", class: [:button, :tiny, :bordered]
-#     = render partial: 'shared/translate_field', locals: {object: item, field: attribute}