.devise_new_session
  .row
    .small-12.columns
      .login_form.lifted_box
        .title
          = t :sign_in_or_create
        .blurb
          %p= t :joining_is_not_stakeholder

        .form_stuff
          %p= t :existing_temporary_logins_work


          #local_signin_form
            %em (Sign-in is disabled as Kuusi Palaa closed in 2018 and this site remains purely as an archive of these activities.)
