%article.post_single
  = semantic_form_for [@season, @stake], html: {'data-abide':  '', id: :new_stake_form} do |f|
    .row
      .small-12.columns.lessright.lessmargins
        .lifted_box
          .title= t(:how_many_stakes_to_book)
          .blurb
            = render partial: 'form', locals: {f: f}
    .row
      .small-12.columns

        %button{class: :bordered, type: :submit, onclick: 'return confirm("' + t(:confirm_purchase) + '");'}=  t(:book_stakes)
