%article.post_single
  = semantic_form_for [@season, @stake], html: {'data-abide':  '', id: :new_stake_form} do |f|
    .row
      .small-12.columns.lessright.lessmargins
        .lifted_box
          .title= t(:buy_a_stake_for_a_group)
          .blurb
            = render partial: 'form', locals: {f: f}

    .row
      .small-12.columns

        %button{class: :bordered, type: :submit}=  t(:book_stakes)
