%article.post_single
  .row
    .small-12.columns.lessmargins.lessright
      .lifted_box.has_inner_button
        .title= t(:buy_a_stake)
        .blurb
          %p= t :kuusi_palaa_failed
          %p= t :no_stakes_season_2