@import 'variables';
@import 'settings';

.activities_index {
  .activity_row {


    
    .icon_class {

      padding: 3.4rem 0 2rem 0;
      @include breakpoint (small only) {
        padding: 4.2rem 0 2rem 0;
      }

      background: white image-url('activities/grid2.png') 16px center no-repeat;
    }
    .activity_box_wrapper {
      padding: 0.5rem 0;

      .activity_box {
        border: 1px solid black;
        padding: 0.7rem;
        margin: 0;
        @include breakpoint (small only) {
          height: 9rem;
        }
        .flex {
          display:flex;
          @include breakpoint (small only) {
            display: block;
          }

        }
        .icon {
          @include breakpoint (small only) {
            max-width: 20%;
          }
          img {
            border: 1px solid black;
            height: 75px;
            @include breakpoint (small only) {
              height: initial;
            }
          }
          max-width: 12%;
          float: left;
        }
        .adjacent {
          float: left;
          max-width: 20%;
          margin: auto 0;
          .middle_image {
            float: left;
            padding-right: 3px;
            img {
              border: 1px solid black;
              height: 55px;
            }  
          }            
          img {
            border: 1px solid black;
            height: 55px;
          }   
        }

        .content {
          @include breakpoint (small only) {
            max-width: 70%;
            margin: initial;
          }

          float: left;
          font-family: $sourcecode;
          margin: auto 0;
          .has_icons {
            float: left;
            max-width: 80%;
            margin: auto 0;
          }
          @include breakpoint (small only) {
            font-size: 0.8rem;
          }
          a {
            text-decoration: underline;
          }

        }
      }

      .tally {
        @include breakpoint (small only) {
          max-width: 100%;
          height: 3rem;
        }
        margin: auto 0;
        font-family: $sourcecode;
        max-width: 20%;
        font-size: 0.8rem;
        .value {
          
          font-size: 1.25rem;
          font-weight: bold;
          float: right;
        }
      }
    }
  }
}