@import 'variables';

.fc-toolbar {
  button {
    border: 1px solid black !important;
    background-color: white !important;
    text-shadow: none !important;
    border-radius: 0px !important;
    background-image: none !important;
    box-shadow: none !important;
    font-family: $sourcecode !important;
    font-size: 0.75rem;
  }
}
a.fc-event { 
  padding: 0.5rem 0;
  border: 1px solid #999;
  background-color: #999;
  color: white;
  &.event, &.booking {
    background-color: black;
    pointer-events: none; 
    &:hover {
      background-color: black;
    }
  }
  &.proposal {
    pointer-events: none;
    &:hover {
      background-color: #999;
    }
  }

  color: white;

  &:hover {
    background-color: $pink;
  }
  .fc-content {

    text-align: center;
    span.fc-title {
      font-family: $sourcecode;
      font-weight: bold;
      white-space: initial;
    }
  }
}


.datetimepicker {
  position: relative;
  th {
    background: initial;
    color: black;
  }
}

#calendar {
  padding: 1rem;
}

.fc-view-container {
  .fc-view {
    table {
      thead {
        &.fc-head {
          tr {
            td.fc-widget-header {
              border-color: white !important;
              .fc-row {
                table {
                  margin-bottom: 0;
                  thead {
                    tr {
                      th.fc-day-header {
                        padding-bottom: 1.5rem;
                        border: 4px solid white;
                        span {
                          font-family: Montserrat;
                          color: black;
                          font-weight: 100;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      tbody {
        &.fc-body {
          tr {
            td.fc-widget-content {
              border-color: white !important;
              .fc-scroller {
                overflow-y: hidden !important;
              }
              .fc-day-grid-container {
                

                .fc-day-grid {
                  .fc-widget-content {
                    .fc-content-skeleton {
                      min-height: 110px;
                      background-color: white;
                      table {
                        border-top: 4px solid white;
                        border-bottom: 4px solid white;
                        thead {
                          tr {
                            td.fc-day-top {
                              border-bottom: 4px solid white;
                              &.fc-other-month {
                                span.fc-day-number {
                                  display: none;
                                }
                              }
                            }
                          }
                        }
                        tbody {
                          td {
                            background-color: white;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



tr {
  th {
    border-width: 4px;
    border-color: white;
  }
  .fc-day-top {
    span.fc-day-number {
      font-family: Montserrat;
      color: black;
      font-weight: 100;
    }
  }
  .fc {
    td {
      border-width: 4px !important;
    border-color: white !important;
    }
  }
  .fc-content-skeleton {
    td {
      border-width: 4px;
      border-color: white;
      border-top: 0;
    }
  }
}
.calendar {
  h4{
    font-size: 1.15rem;
  
  }
}

.fc-center {
  h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

}