@import 'variables';

#calendar.clickable {
  a.fc-event { 
    &.event {
      pointer-events: initial;
    }
  }
}

.fc-toolbar {
  button {
    border: 1px solid black !important;
    background-color: white !important;
    text-shadow: none !important;
    border-radius: 0px !important;
    background-image: none !important;
    box-shadow: none !important;
    font-family: $sourcecode !important;
    font-size: 0.75rem;
  }
}
a.fc-event { 
  padding: 0.5rem 0;
  border: 1px solid #999;
  background-color: #999;
  color: white;
  &.event {
    background-color: black;
    pointer-events: none; 
    &:hover {
      background-color: black;
    }
  }
  &.booking {
    background-color: #999;
    pointer-events: none; 
    &:hover {
      background-color: #CCC;
    }
  }  
  &.proposal {
  // pointer-events: none;
   background-color: #CCC;
   color: black;
    &:hover {
      background-color: #FFF;
    }
  }

  color: white;

  &:hover {
    background-color: $pink;
  }
  .fc-content {

    text-align: center;
    span.fc-title {
      font-family: $sourcecode;
      font-weight: bold;
      white-space: initial;
    }
  }
}


.datetimepicker {
  position: relative;
  th {
    background: initial;
    color: black;
  }
}

#calendar {
  padding: 1rem;


.fc-view-container {
  .fc-view {
    table {
      thead {
        &.fc-head {
          tr {
            td.fc-widget-header {
              border-color: white !important;
              .fc-row {
                table {
                  margin-bottom: 0;
                  thead {
                    tr {
                      th.fc-day-header {
                        padding-bottom: 1.5rem;
                        border: 4px solid white;
                        span {
                          font-family: Montserrat;
                          color: black;
                          font-weight: 100;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      tbody {
        &.fc-body {
          tr {
            td.fc-widget-content {
              border-color: white !important;
              .fc-scroller {
                overflow-y: hidden !important;
              }
              .fc-day-grid-container {
                

                .fc-day-grid {
                  .fc-widget-content {
                    .fc-content-skeleton {
                      min-height: 110px;
                      background-color: white;
                      table {
                        border-top: 4px solid white;
                        border-bottom: 4px solid white;
                        thead {
                          tr {
                            td.fc-day-top {
                              border-bottom: 4px solid white;
                              &.fc-other-month {
                                span.fc-day-number {
                                  color: white;


                                }
                              }
                            }
                          }
                        }
                        tbody {
                          td {
                            background-color: white;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



tr {
  th {
    border-width: 4px;
    border-color: white;
  }
  .fc-day-top {
    span.fc-day-number {
      font-family: Montserrat;
      color: black;
      font-weight: 100;
    }
  }
  .fc {
    td {
      border-width: 4px !important;
    border-color: white !important;
    }
  }
  .fc-content-skeleton {
    td {
      border-width: 4px;
      border-color: white;
      border-top: 0;
    }
  }
}
.calendar {
  h4{
    font-size: 1.15rem;
  
  }
}

.fc-center {
  h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

}

}

.minicalendar {
  font-family: $sourcecode;
  background-color: black;
  color: white;
  .fc-day-grid-container.fc-scroller {
      height: auto!important;
      overflow-y: auto;
  }
  .fc td {
    border: none !important;
  }
  table {
      table-layout: fixed;
  }
  thead, table, tbody, tr {
    background: transparent !important;
  }

  span.fc-day-number {
    color: #AAA !important;
    font-family: $sourcecode;
    font-size: 1.3rem;
  }
  td.fc-day-top {
    text-align: center;
  }
  td.fc-day-top:hover {
    span.fc-day-number{
     
      padding: 0.3rem;
      outline: 1px dotted white !important;     
    }
  }
  .fc-state-highlight {
    span {
      padding: 0.3rem;
      background-color: #AAA;
      color: black !important;
      outline: 1px solid white !important;
    }
  }
  .fc-toolbar {
    margin-left: 3.65rem;
    .fc-left, .fc-center {
      float: left;
      padding: 1rem 0.2rem 0.2rem 0.2rem;
      button {
        background-color: black !important;
        color: white;
        font-size: 2rem;
        line-height: 2rem;
        height: initial;
        font-family: $sourcecode;
        &:focus {
          outline: none;
        }
        font-weight: bold;
      }
    }
    .fc-right {
      padding-top: 1rem;
      float: left;
      h2 {
  
        font-size: 1.3rem;
        font-weight: bold;
        font-family: $sourcecode;

        margin: 0;
        text-transform: uppercase;
      }
    }
    .fc-right {
      button {
        float: left;
        border: none;
        outline: none;
        font-weight: bold;
//        display: none;
      }
      .fc-button-group {
//        display: none;
      }
    }
  }
  
  .fc-basic-view .fc-body .fc-row {
    min-height: 2.5rem;
  }
  .fc-view {
    table {
      float: left;
      tr {
        background-color: white;
      }
      thead.fc-head {
        display: none;
        border-spacing: 0;
        border: none;
        tr {
          td.fc-head-container {
            padding: 0;
            border: none !important;
            .fc-widget-header {
              table {
                margin-bottom: 0;
                thead {
                  border: none;
                  th.fc-day-header {
                    span {  color: white; 

                      }

         
                    padding: 0;
                    border: none;
//                    width: 43px;
                    .ct-day {
             
                      font-size: 1.875rem;
                      line-height: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    .fc-bg {
      display: none;
    }
    .fc-body {
      border: none;
      .fc-widget-content {
        padding: 0;
        border: none !important;
    
        .fc-day-grid-container {
          border-collapse: inherit;
          .fc-day-grid {
            .fc-row {
              height: initial !important;
            }
          }
          .fc-content-skeleton {
            table {
              margin-bottom: 0;
              border-spacing: 0;
              padding: 0;
              border-collapse: inherit;
              thead {
                border: none;
                tr {
       
                  cursor: pointer;
                  box-model: border-box;
              
                }
                td {
                  &.fc-day-top {
                    padding: 0;
                    
                    font-size: 0.925rem;
                    line-height: 1rem;
                  }
                  &.fc-other-month {
                    
                  }
                }
              }
              tbody {
                border: none;
                tr {
                  td {
                    padding: 0.15rem 0.625rem;
                    &.fc-event-container {
                      vertical-align: top;
                      a.fc-event {
                        color: black;
                        .fc-content {
                          font-size: 0.925rem;
                          line-height: 1.02rem;
                     
                          span.fc-title {
                           
                            
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
}