@import 'variables';

a.fc-event { 
  border: 1px solid black;
  background-color: black;
  color: white;
  .fc-content {
    span.fc-title {
      font-family: $sourcecode;
      font-weight: bold;
    }
  }
}


.datetimepicker {
  position: relative;
  th {
    background: initial;
    color: black;
  }
}

#calendar {
  padding: 1rem;
}

.fc-center {
  h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}