@import 'variables';
@import 'settings';

body.frontpage {

  #banner2 {
    background-color: #333;
    color: white;
    padding: 3rem 0;
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    .header {
      margin-bottom: 1.5rem;
    }
    .banner2_title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;

    }
    .banner2_blurb {
      font-size: 0.9rem;
    }

  }



  .lifted_box.feed {
    .banner2_title {
      .proposed_by_front {
        text-transform: none;
        font-size: 0.8rem;
        border-top: 1px solid black;
        padding: 0.4rem 0;
      }
    }
  }

 
  article.pending {
    background-color: $pink;
    color: white;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    li {
      list-style-type: none;
    }
    .attention {
      font-weight: bold;
      font-family: $sourcecode;
      font-size: 1.4rem;
    }
    a {
      color: white;
      font-weight: bold;
    }
  }


  .article_slider { 
    a:hover {
      text-decoration: none;
    }
  }

 
  .calendar_list {
    font-family: $sourcecode;
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    .heading {
      padding: 1rem;
      #day_of_week {
        text-transform: uppercase;
        font-weight: bold;
      }
      
    }
    .body {
      padding: 1rem;
      background-color: #AAA;
      .event_row {
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid black;
        clear: both;
        float: left;
        a { &:hover { color: #444; text-decoration: none;}  }
        margin-bottom: 0.4rem;
        .icon {
          float: left;
          margin-right: 0.8rem;
        }
        .name {
          @include breakpoint(small only) {
            max-width: 80%;
          }
          float: left;
        }

      }
      .button_row {
        padding: 1.5rem 0;
        clear: both;
        .front_button:hover {
          background-color: white;
        }
      }
    }
  }


  .proposal_activity_box {
    margin-top: 6.5rem;
    margin-bottom: 2.5rem;
    .columns {
      padding-left: 0; padding-right: 0;
    }
    .title {
      padding: 1rem;
      text-transform: uppercase;
      font-family: $sourcecode;
      border: 1px solid black;
      font-weight: bold;
      &.activities {
        border-left: none;
        border-bottom: none;
      }
      @include breakpoint(small only) {
         &.activities {
          border-left: 1px solid black;

        }
      }
    }
    .body {
      min-height: 300px;
      padding: 1rem;
      // background: black image-url('front/element3-blacknoise.jpg');
      background-color: #AAA;
      color: black;
      font-family: $sourcecode;
      font-weight: bold;
      float: left;
      width: 100%;

      .button_row {
        padding: 1.5rem;
        clear: both;
      }
      .proposal_row {
        border-bottom: 1px solid black;
        clear: both;
        float: left;
        text-transform: uppercase;
        font-size: 0.9rem;
        a { color: black; &:hover { color: #AAA; } }
        margin-bottom: 0.4rem;
        .icon {
          float: left;
          margin-right: 0.8rem;
        }
        .name {
          float: left;
          max-width: 93%;
          @include breakpoint(small only) {
            max-width: 80%;
          }
        }
      }
   
    }
    .activity_feed {
      .activities_index {
        border: 1px solid black;
        padding: 0 0.5rem;
        .activity_row {
          padding: 0 1rem;
          .icon_class {
            padding: 2rem 0px;
            background: white image-url("activities/grid2.png") 16px -131px no-repeat;
          }
          .activity_box_wrapper {
            .activity_box {
              .icon {
                margin: auto 0.5rem;
                img {
                  height: initial;
                }
              }
              .content {
                font-size: 0.8rem;
              }
              .tally {
                padding-right: 15px;
                .clock {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}


#supporters_banner {
  margin: 2rem 0 0 0;

  ul {
    text-align: center;
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      padding-right: 0.8rem;
      border-right: 2px solid black;
      &:last-child {
        border-right: none;
      }
      a {
        color: #AAA;
        &:hover {
          color: black;
        }
      }
      &.active {
        a {
          color: black;
        }
      }
    }
  }
  .bordered {

    font-family: $sourcecode;
    font-weight: bold;
    font-size: 1.2rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.5rem 0;
  }
  .funders_and_supporters {
    padding: 0.5rem 0;

    .stake_box {

      float: left;
      width: 65px;
      height: 65px;
      &.organisation {
        width: 98px;
      }
      cursor: pointer;
      margin: 2px;
      border: 1px solid rgba(0, 0, 0, .2);
      .overlay {
        display: none;
        background-color: white;
        font-size: 0.7rem;
        font-family: Source Code Pro;

      }
      &:hover {
        .overlay {
          display: block;
        }
      }
    }

    .green {
      background: green;
    }

    .unpaid {
      background: yellow;
      opacity: 0.4;
    }

    .grey {
      background: #777;

    }
  }

}