@import 'variables';

body.frontpage {

  #banner2 {
    background-color: #333;
    color: white;
    padding: 3rem 0;
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    .header {
      margin-bottom: 1.5rem;
    }
    .banner2_title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .banner2_blurb {
      font-size: 0.9rem;


    }

  }


  #banner {

  }
  article.pending {
    background-color: $pink;
    color: white;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    li {
      list-style-type: none;
    }
    .attention {
      font-weight: bold;
      font-family: $sourcecode;
      font-size: 1.4rem;
    }
    a {
      color: white;
      font-weight: bold;
    }
  }
}

