@import 'variables';

article.ideas_index {
  padding: 2rem 0;
  .discussions {
    margin: 2.5rem 0;
    .header {
      font-family: $sourcecode;
      font-weight: bold;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
    }
  }
  .column {
    position: relative;
  }
  .idea {
    margin-bottom: 4rem;
    border: 1px solid $black;
    position: relative;
    background-color: white;
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: -10px;
      right: 10px;
      bottom: -10px;
      background: white;
      z-index: -1;
      outline: 1px solid $black;
    }
    .title {
      font-size: 1.25rem;
      border-bottom: 1px solid $black;
      padding: 0.8rem 1rem;
      text-transform: uppercase;
      font-weight: bold;

      background-color: white;
      overflow-y: hidden;
      .description {
        font-family: $montserrat;
        text-transform: none;
        font-weight: normal;
        padding: 0.5rem 0;
        font-size: 0.9rem;
      }
    }
    .blurb {
      border-bottom: 1px solid $black;
      font-family: $montserrat;
      padding: 1rem;
      height: 250px;
      font-weight: bold;
      overflow-y: hidden;
    }
    .meta {
      font-family: $sourcecode;

      font-weight: bold;
      padding: 0.8rem 1rem;
      a {
        text-transform: uppercase;
        text-decoration: underline;
        &:hover {
          background-color: $black;
          color: white;
        }
      }
    }
    .under {
      min-height: 3rem;
      font-size: 0.8rem;
      font-family: $sourcecode;
      font-weight: bold;
      .needed {
        padding: 15px;
        float: left;
        border-right: 1px solid black;
      }
      .so_far {
        padding: 15px;
        float: left;
      }
    }
    .ready {
      border-top: 1px solid black;
      min-height: 2rem;
      font-size: 0.8rem;
      padding: 0.5rem;
      font-family: $montserrat;
      font-weight: bold;
      background-color: $pink;
      color: white;

    }
  }


}


.idea_detail_view {
  .has_enough {
    padding: 0.75rem 1rem; 
    .has_enough_banner {
      font-size: 1.2rem;
      font-weight: bold;
      font-family: $sourcecode;
 
    }
    a {
      margin: 1rem 0;
      color: white;
    }
    font-family: $montserrat;
    color: white;
    background-color: $pink;
  }
  
  .points_stats {
    font-family: $sourcecode;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }

  .pledge_box, .bottom_box {
    border-top: 1px solid black;
    padding: 1rem;
    .pledge_heading {
      font-family: $montserrat;
      font-weight: bold;
      .pledge_list {
        font-family: $montserrat;
        font-weight: normal;
      } 
    }

    li#pledge_pledge_input {
      float: left;
      margin: 0;
      padding-right: 25px;
      input {

        width: 100px;
      }
    }
  }
  #comments_list {
    .comment_avatar {
      float: left;
      margin-right: 0.4rem;
    }
    .comment_body {
      float: left;
      clear: right;
      .comment_type {
        .pledge_metadata {
          font-size: 0.7rem;
        }
      }
    }
    .comments_title {
      text-transform: uppercase;
      font-weight: bold;
      padding: 1rem;
      font-family: $sourcecode;
      border-top: 1px solid black;
    }
    .comment_count {
      font-family: $montserrat;
      margin:  0 0 1rem 0;
    }
    ul.first {
      margin: 1rem;
      li {
        margin: 0.6rem 0;
        list-style-type: none;
      }
    }
    .comment {
      margin: 2rem 0;
      .comment_type {
        font-size: 0.8rem;
        margin-bottom: 0.8rem;

      }
      .comment_content {
        font-family: $montserrat;
      }
      .occluded_form {
        padding: 1rem 0;
        display: none;
      }
      ul {
        margin-left: 5rem;
      }

      .comment_form {
        margin-left: 5.5rem;
      }
    }
  }
}


.publish_event {
  .blurb.nopadding {
    padding: 0;
  }
  .pad {
    padding: 1rem;
  }
  form {
    .subtimes {
      &.bordered {
        border-top: 1px solid black;
        padding: 1.5rem 0;
      }
      &.even {
        background-color: #EFEFEF;
      }
    }
  }
  .project_name {
    display: none;
  }
  .slider {
    width: 80%;
  }
  li.short_input {
    float: left;
  
    input.short_input {
      width: 60px;
    }

  }
}