a.not-active {
  pointer-events: none;
  cursor: default;
}

.stake_view {
  padding: 2.5rem 0;

}

.membership_pages {
  padding: 2.5rem 0;
}
#invoice_screen {
  margin-left: 2rem;
  border: 1px solid #333;
  background-color: #CDCDCD;
  width: 80%;
  padding: 1.5rem;
  #header {
    h1 {
      font-size: 2rem;

    }
    .metadata {
      font-size: 0.9rem;
      color: #333;
      margin: 0;
    }

    h2 {
      font-size: 1.4rem;
      margin: 1rem 0;
    }
    margin-bottom: 2.5rem;
  }

  .content .row {
    margin-bottom: 0;
    clear: BOTH;
  }

  table {
    margin: 1.5rem 0;
  }
  .content .row .heading {
    color: #555; width: 40%; text-align: left; float: left;
    font-size: 1rem;}

  .content .row .value {
      color: #000;
      width: 58%;
      float: left;
      font-size: 0.9rem;
      text-align: left;
    }

}

form {
  p.group_type {
    font-size: 0.85rem;
    font-weight: 300;
    font-style: italic;
    color: #666;
  }
  li.error input[type=text] {
    border: 2px solid red;
  }
  p.inline-errors {
    color: red;
    font-weight: bold;
    margin: 0;
  }
}
