@import 'variables';

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.right {
  float: right;
}

.send_options {
  margin: 1.5rem 0;
  .pledge_as {
    font-family: $sourcecode;
    font-weight: bold;
    font-size: 0.8rem;          
  }
  #avatar_sender {
    float: left;
    margin-right: 10px;
    img {
      height: 60px;

    }

  }
  #sender_select {
    float: left;
    max-width: 50%
  }
}
 
input[type="radio"] {
  display: none;

}
li.choice label.radio {
  width: initial;
  height: initial;
  border: none;
  input[type="radio"] {
    display: block;
    float: left;
  }
  display: block;
  &:before {
    opacity: 1;
    position: initial;
    background: transparent;
    content: initial;

  }
}

label.radio {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px black solid;
  display: block;
  line-height: 22px;
  text-align: center;
  color: black;
  font-size: 40pt;
  cursor: pointer;
  background: white;
  position: relative;
  &.is-invalid-label {
    border: 2px solid red;
  }
}

input.radio:checked+label.radio:before {
  opacity: 1;
}

label.radio:before {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 12px;
  width: 12px;
  background: black;
  content: '';
  opacity: 0;
}

span.translation_missing {
  font-size: 1.9rem;
  background-color: red;
  color: white;
  padding: 0.4rem 0.2rem;
}
.alert {
  padding: 0.75rem;
  font-family: $sourcecode;
  color: white;
  font-weight: bold;
  &.alert-notice {
    background-color: $alert;
    a {
      color: white;
    }
  }
  &.alert-alert {
    background-color: $alert;
    a {
      color: white;
    }
  }
  &.alert-error {
    background-color: $pink;
  }
}

body {
  padding: 0;
  background-color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $sourcecode;
}
li.ui-menu-item {
  list-style-type: none;
  font-family: $sourcecode;
}

.headline {
  .title {
    line-height: 1;
    font-family: $sourcecode;
    font-weight: bold;
  }
}
header {
  .title {
    line-height: 1;
  }

  .tagline {
    width: 90%;
    font-family: $sourcecode;
    font-weight: bold;
  }
  .icons {
    padding-bottom: 0;
    font-weight: 300;
    color: #666;
    a {
      font-weight: bold;
    }
  }
  .top-bar {
    margin-top: 0rem;
    border-top: 2px solid black;

    .top-bar-right {
      .name {
        font-size: 0.8em;
        float: left;
        padding-right: 1rem;
        color: #555;
      }
    }
  }

  .user_menu {
    float: right;

    #user_dropdown_menu {
      float: left;
    }
    .dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub {
      top: 100%;
      left: auto;
      right: 0;
    }

    ul {
      li.is-dropdown-submenu-parent[role=menuitem] {
        margin: 0;
        padding: 0;
        a {
          padding: 0;
        }
      }
      li.is-submenu-item {
        a {
          padding: 0.4rem !important;
        }
      }
    }
    img {
      cursor: pointer;
      height: 55px;
      width: auto;
    }
  }
  .buttons {
    a {
      border: 1px solid black;
      padding: 0.4rem;
      margin-right: 0.1rem;
      text-transform: uppercase;

    }
  }
}

a.not-active {
  pointer-events: none;
  cursor: default;
}

.stake_view {
  padding: 1.5rem 0;

}

.post_single, .meeting_single {
  padding: 1.5rem 0;

  .post {
    .title {
      font-family: $sourcecode;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
  form {
    border: none !important;
    fieldset {
      legend.label {
        background-color: white;
        color: black;
        font-family: $sourcecode;
        font-weight: bold;

      }
      label.radio {
        font-size: 1rem;
      }
    }
  }
}

article.divider {
  margin-bottom: 3rem;
  .columns {
    border-bottom: 2px solid black;
  }
}
.front_box {
  border: 1px solid black;
  padding: 1rem 3rem;
  margin-top: 1.5rem; 
  margin-bottom: 1.5rem;
  &.alert {
    background-color: $pink;
    a {color: white; }
  }
  font-family: $sourcecode;
  text-transform: uppercase;
   &.false {
      background-color: black;
      color: white;
      a { 
        color: white;
      }
    }
  font-weight: bold;
  .banner_blurb {
    font-size: 1.8rem;

  }
  .smaller {
    font-size: 1rem;
    font-weight: normal;
    text-transform: none;
  }
}

.front_images {
  margin: 1.5rem 0;
}

.nopadding {
  padding: 0;
}
.lessmargins {
  padding-right: 0.5375rem;
  padding-left: 0.5375rem;
}

.lessright {
  padding-right: 0;
  padding-left: 0.5375rem;
}

.title_box {
  border: 1px solid black;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 0.9rem;

  .title {
    font-family: $sourcecode;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    .smaller {
      font-size: 0.7rem;
    }
  }
}

#comments_list {
  margin-top: 1.5rem;
  border: 1px solid black;
  #main_thread .row:first-child {
    padding-top: 1.5rem;
  }
  .comment_avatar {
    float: left;
    width: 60px;
    margin-right: 0.4rem;
  }
  .avatar_spacer {
    width: 55px;
    float: left;
  }
  .comment_body {
    width: 80%;
    float: left;
    clear: right;
    .comment_type {
      .pledge_metadata {
        font-size: 0.7rem;
      }
    }
    .comment_content {
      &[data-readmore] {
        overflow-y: hidden;
      }
      p { font-size: 0.9rem; }
      color: #444;
      padding: 0.9rem 1.8rem 0.9rem 0;
      p {
        font-size: 0.9rem;
        line-height: 1.8;
        font-family: $montserrat;
      }
      p img {
        max-height: 30px;
        margin-left: 0.4rem;
      }
    }
  
  }
  .comments_title {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    font-family: $sourcecode;
    border-top: 1px solid black;
  }
  .comment_count {
    font-family: $montserrat;
    margin:  0 0 1rem 0;
  }
  ul.first {

    li {
      margin: 0.6rem 0;
      list-style-type: none;
      .comment.entry {
        padding: 1rem;
      }
      &.top-level {
        border-bottom: 1px solid black;
        ul {
          border-top: 1px solid black;
          border-left: 1px solid black;
          border-right: 1px solid black;
          li {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
  .comment {
  
    .comment_type {
      font-size: 0.8rem;
      margin-bottom: 0.8rem;
      font-family: $sourcecode;
      font-weight: bold;
      a {
        text-decoration: underline;
      }

    }
    .comment_content {
      font-family: $montserrat;
    }
    .occluded_form {
      padding: 1rem 0;
      display: none;
    }
    ul {
      margin-left: 3.5rem;
      &.mentioned-user-list {
        margin-left: 6.3rem;
      }
    }

    .comment_form {
      margin-left: 5.5rem;
    }
  }
}

.lifted_box {
   &.feed { transition: background-image 1s linear;
      &:hover {
        background-image: none;
        background-color: white;

      }
    }
  &.invert { 
    .title {
      background-color: black;
      color: white;
    }
  }
  &.paid {
    background: url('/assets/paid.png') right top no-repeat;
  }
  &.has_inner_button {
    padding-bottom: 3rem;
  }

  margin: 1.5rem 0;
  background-color: white;

  position: relative;
  border: 1px solid black;
   color: black;
  a { color: black; }
  font-family: $sourcecode;
  &:after {
    content: '';
    position: absolute;
    top: 7px;
    left: -7px;
    right: 7px;
    bottom: -7px;
    background: white;
    z-index: -1;
    outline: 1px solid $black;
  }

  .banner2_title, .title {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    background-color: white;
    font-family: $sourcecode;

    .description {
      font-family: $montserrat;
      text-transform: none;
      font-weight: normal;
      padding: 0.5rem 0;
      font-size: 0.9rem;
    }
  }
  .banner2_blurb {
    min-height: 180px;

  }
  .banner2_blurb, .blurb {
    padding: 1rem;
    font-size: 0.9rem;
    font-family: $montserrat;
    &.open_time {
      h4 {
        font-size: 1.2rem;
        font-family: $sourcecode;
        text-transform: uppercase;
        font-weight: bold;
      }
      a {
        text-decoration: underline;
        &:hover {
          color: #666;
        }
      }
    }
    .subtitle {
      text-transform: uppercase;
      font-weight: bold;
      padding: 1rem;
      font-family: $sourcecode;
    }
    .question {
      font-weight: bold;
      font-family: $sourcecode;
    }


  }
}

.left_adjust {
  padding-left: 7px;
}

.right_adjust {
  padding-right: 0;
}
.front_button {
  margin: 1.5rem 0;
  background-color: black;
  padding: 1rem;
  position: relative;
  text-transform: uppercase;
  color: white;
  a { color: white; }
  font-family: $sourcecode;
  &:hover {
    background-color: #AAA;
    color: black;
  }
  &.thin {
    margin: 0;
  }
  &:after {
    content: '';
    position: absolute;
    top: 7px;
    left: -7px;
    right: 7px;
    bottom: -7px;
    background: white;
    z-index: -1;
    outline: 1px solid $black;
  }
}

.smaller_button {

  background-color: black;
  padding: 1rem;
  position: relative;
  border: 1px solid black;
  float: left;
  text-transform: uppercase;
   color: white;
  a { color: white; }
  font-family: $sourcecode;
  &.white {
    background-color: white;
    color: black;
    a { color: black; }
    &:hover {
      background-color: black;
      color: white;
      a { color: white; }
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 7px;
    left: -7px;
    right: 7px;
    bottom: -7px;
    background: white;
    z-index: -1;
    outline: 1px solid $black;
  }
}

#progress_bar {
  margin-top: 1.5rem;
  .progress {
    height: 2rem;
  }
  
}
.stats_boxes {
  margin-bottom: 1.5rem;
  .small-12 {
    float: left;
    padding-right: 0.5rem;
  }
  .small-last {
    padding-right: 0;
    float: left;
  }
  .box {
    border: 1px solid black;
    padding: 1rem;

    .big_num, a .big_num {
      font-size: 3rem;
      font-weight: bold;
      font-family: $sourcecode;
    }
    .info, a .info {
      font-family: $sourcecode;
      font-size: 0.75rem;
    }
  }
}
.membership_pages {
  padding: 1.5rem 0;
}
#invoice_screen {
  padding: 2rem;
  border: 1px solid black;
  background-color: white;
  font-family: $sourcecode;
  #header {
    width: 100%;
    clear: both;
    .logo {
      float: left;
      font-size: 2.5rem;
      font-weight: bold;

      text-transform: uppercase;
      width: 140px;
      line-height: 1;
      margin-right: 2rem;
    }

    .invoice_info {
      padding-top: 1.65rem;
      padding-left: 1rem;
      p {
        margin: 0;
      }
    }

    margin-bottom: 5rem;
  }

  .metadata {
    padding-bottom: 3rem;

    .heading {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }
  }

  .tabled {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    table {

      td, th {
        font-family: $montserrat;
      }
    }
  }
  .content .row {
    margin-bottom: 0;
    clear: BOTH;

    &.date_row {
      margin-top: 1.5rem;
    }
  }

  table {
    margin: 1.5rem 0;
  }
  .content .row .heading {
    color: #555; width: 40%; text-align: left; float: left;
    font-size: 1rem;}

  .content .row .value {
      color: #000;
      width: 58%;
      float: left;
      font-size: 0.9rem;
      text-align: left;
    }

}

.participant_overlay {
  a.button {
    font-size: 0.85rem;
    padding: 0.25rem;
    margin: 0.5rem 0;
  }
}
form {

  input[type=submit] {
    &.disabled {
      pointer-events: none;
    }
  }
  input[type=text], textarea, input[type=number], input[type=email], input[type=password], input[type=checkbox] {
    border: 1px solid black;
    outline: none;
    margin-bottom: 0.2rem !important;
  } 
  a.add_nested_fields {
    margin-top: 1.5rem;
  }
  li {
    margin-top: 1rem;
  }
  &.member {
    label[for=member_access_level] {
      font-size: 0.6rem;
    }

    select {
      font-size: 0.7rem;
      font-weight: normal;
      height: 30px;
      &#member_source_id {
        margin-left: 1.5rem;
        font-size: 1rem;
        width: 50%;
        height: inherit;
      }
    }

    input[type=submit] {
      font-size: 0.85rem;
      padding: 0.25rem;

    }

  }
  &#new_stake_form {
    font-family: $sourcecode;
    li.number {
      input {
        border: 1px solid black;
        font-size: 1.6rem;
        font-weight: bold;
        width: 150px;
        padding: 0.5rem 0.25rem;
      }
    }
    .total_due {
      margin-bottom: 1.25rem;
      font-size: 1.2rem;
      font-weight: bold;
      #total_due {
        border: 1px solid black;
        font-size: 1.6rem;
        height: 2.5rem;
        padding: 0.5rem 0.25rem;
        font-weight: bold;
        line-height: 1;
        width: 150px;
        margin: 0 0 1rem;
      }
      .total_text {
        font-size: 0.8rem;
        font-weight: normal;
      }
    }
  }
  i#vat_ok {
    color: green;
    display: none;
  }
  i#vat_bad {
    color: red;
    display: none;
  }
  p.invalid_vat {
    display: none;
  }
  p.group_type {
    font-size: 0.85rem;
    font-weight: 300;
    font-style: italic;
    color: #666;
  }
  li.error input[type=text] {
    border: 2px solid red;
  }
  p.inline-errors {
    color: red;
    font-weight: bold;
    margin: 0;
  }
}

.membership_pages {
  .scrollbox_container {
    margin-bottom: 2rem;
    padding-left: 0; padding-right: 0;
    border: 1px solid black;

    .membership_agreement_scrollbox {
      padding: 1rem;

      height: 240px;
      overflow: auto;
    }
    .agree_container {
      border-top: 1px solid black;
      padding: 1rem;
      font-weight: bold;
      font-family: $sourcecode;

    }
  }

}

.translate_small_form {
  display: none;
  padding-left: 2.5rem;
  form {
    input[type=text] {
      max-width: 40%;
      font-size: 1rem;
      height: 1.4rem;
    }
    textarea {
      width: 60%;
      height: 250px;
    }
  }
}

a.bordered, button.bordered {
  font-family: $sourcecode;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: black;
  color: white;
  position: relative;
  padding: 1rem;
  &.tiny {
    font-size: 0.65rem;
    margin: 0 0.35rem;
    background-color: #333;
    padding: 0.4rem;
    &:after {
      top: 3px;
      left: -3px;
      right: 3px;
      bottom: -3px;
      outline: 1px solid #333;
    }
  }
  &.disabled {
    border: 1px solid black;
    color: white;
  }
  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    right: 5px;
    bottom: -5px;

    z-index: 1;
    outline: 1px solid $black;
  }
}

table {
  td {
    border-collapse: border-collapse;
    font-size: 0.9rem;
    &.avatar {
      width: 120px;
      img {
        height: 100px;
      }
    }
  }
  a.button {
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
}


footer {
  margin: 1rem 0;
  font-weight: bold;
  .row {
    padding: 2rem 0;
    border-top: 2px solid $black;
    font-family: $sourcecode;
    border-bottom: 2px solid black;
    .address {
      margin-top: 1rem;
      font-weight: normal;
      font-size:0.8rem;
    }
  }
}


.new_group_create {
  padding-bottom: 2rem;
  .group_selection_box {
    padding: 1.5rem;
    border: 1px solid black;

    .title {
      font-family: $sourcecode;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
    }
    .blurb {
      font-family: $montserrat;
      font-weight: normal;
      font-size: 0.9rem;
      margin: 1rem 0;
    }
    .floor {
      position: relative;
      margin-top: 20%;
    }
  }



}
#new_question_form {
  display: none;
}
.small_title {
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: underline;
  margin-top: 2rem;
}
ul#page_questions, ul#unanswered_questions {
  list-style-type: square;
  li.question {
    font-weight: bold;
    font-size: 1.15rem;
    margin-bottom: 1rem;
    small {
      font-family: $montserrat;
      font-weight: normal;
      font-size: 0.54rem;
    }
  }
  .translation_credit {

    margin-left: 2rem;
    font-style: italic;
    font-size: 0.7rem;
    .comment_info {
      margin-left: 2rem;
    }
    img {
      height: 30px;
      width: auto;
    }
  }
  .answers {
    display: none;
    margin-bottom: 1rem;
    font-family: $montserrat;
    font-weight: normal;
    font-size: 0.9rem;
    .new_comment_form {
      margin-left: 9rem;
      .avatar {
        float: left;
        margin-right: 10px;
        img {
          height: 30px;
          width: auto;
        }
      }
      .comment_input {
        height: 150px;
      }
      .chooser {
        margin: 1rem 0 1rem 25px;

      }
    }
    .answer_block {
      .comments {
        display: none;
        margin-left: 6rem;
        .comment {
          border-bottom: 1px dotted black;
          &.last {
            border-bottom: none;
          }
          margin-left: 2rem;
          font-style: italic;
          font-size: 0.7rem;
          margin-right: 8rem;
          margin-bottom: 1rem;
          font-family: $sourcecode;
          img {
            height: 30px;
          }
          .content {
            margin: 1rem 0 1rem 40px;
            font-size: 1rem;
            font-family: $montserrat;
          }
        }
      }
    }

    .answer_section {
      padding: 0.5rem 0;
      border-bottom: 1px dotted black;
      font-family: $montserrat;


      &.last {
        border-bottom: none;
        margin-bottom: 1.5rem;
      }

    }
    p {
      font-family: $montserrat;
      font-weight: normal;
      font-size: 0.9rem;
    }

    .translate {
      font-family: $sourcecode;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
}

button.stripe-button-el {
  margin: 0.75rem  0;
  border-radius: 0;
  
  span {
    background: none !important;
    border-radius: 0px !important;
    background-image: none !important;
    background-color: black !important;
    color: white;
    text-transform: uppercase;
    font-family: $sourcecode;

  }
}

.proposal_review {
  .final_title {
    font-family: $sourcecode;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
 .byline {
    padding: 0.8rem 0;
  }
  .proposal_image {
    padding: 0.8em 0;
  }
  .short_description {
    font-family: $montserrat;
    margin-bottom: 1rem;
  }
  .when {
    font-family: $sourcecode;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
  .other_meta {
    font-family: $montserrat;
    margin-bottom: 1rem;
  }
  .proposal_image {
    margin-bottom: 1.5rem;
  }
}

label.label {
  white-space: unset !important;
}

form {
  &.idea {
    .fields {
      border: 1px dotted black;
      padding: 2rem;
      label.label {
        font-size: 0.75rem;
      }
      input[type=text] {
        height: 1.9rem;
        font-size: 0.8rem;
      }
    }
    li#idea_special_notes_input {
      margin: 1.5rem 0;
    
      textarea#idea_special_notes {

        height: 150px;
        width: 50%;
      }
    }
    li#idea_hours_estimate_input {
      display: inline;
    
      #idea_hours_estimate {
        width: 60px;
        display: inline;
      }
    }

    fieldset {
      &.actions {
        padding: 0;
        ol {
          margin: 0; 
          li {
            float: left;
            margin-right: 15px;
          }
        }
      }
      border: none;
      legend.label {
        background: none;
      }
    }
    .calendar {
      display: none;
      &.not_hidden {
        display: block;
      }
    }

  }
  .points_total {
    margin-bottom: 1.5rem;
    font-family: $sourcecode;
    font-weight: bold;
    span#points_total {
      font-weight: bold;
      font-size: 2.5rem;
    }
  }
  p {
    input[type='radio'] {
      margin: 0 !important;
    }
    margin: 0.25rem 0;
  }
  p.small {
    margin: 0.25rem 0 1.25rem;
    font-size: 0.8rem;
  }
}

#registration_form {
  h4, h3, h5 {
    margin-bottom: 1.5rem;
    font-family: $sourcecode;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
  }
}
.registration_form {
  display: none;
  textarea {
    height: 125px;
  }
  label.label {
    font-family: $montserrat;
  }
}
.registration_heading {
  margin-bottom: 1.5rem;
  font-family: $sourcecode;
  font-weight: bold;
}
nav.pagination {
  margin: 2rem 0;
  * {
    float: left;
  }
}

.legend {
  span {
    padding: 0.5rem;
    margin: 0 0.25rem;
  }
  span.event {
    background-color: black;
    color: white;


  }

  span.proposal {
    background-color: #CCC;
    color: black;
    font-weight: bold;
    small {
      font-size: 0.6rem;
    }
  }
  span.booking {
   background-color: #999;
   color: white;
  }
}

table.small_stakeholder_posts {
  border-collapse: collapse;
  td.avatar {
    width: 45px;
    img {
      width: 40px;
      height: auto;
    }

  }
}

.page_single {
  .title {
    .page_pdf {
      margin-top: -0.6rem;
      a.bordered {
        padding: 0.7rem;
      }
    }
  }
  .blurb {
    h3 {
      font-family: $sourcecode;
      font-weight: bold;
      font-size: 1.15rem;
      border-top: 1px solid black;
      padding-top: 1rem;
      text-transform: uppercase;
    }
    h4 {
      font-family: $sourcecode;
      font-weight: bold;
      font-size: 0.95rem;
      text-transform: uppercase;
      margin-bottom: 0.25rem;
    }
  }
}