- if activity.user
  = link_to activity.user.display_name, activity.user, target: :_blank
- elsif activity.description == 'attended_anonymously'
  = t :someone
= t activity.description
= link_to activity.item.name, event_instance_path(activity.item.event, activity.item), target: :_blank, target: :_blank

