= link_to activity.user.display_name, activity.user, target: :_blank
= link_to t(activity.description), '/roombookings', target: :_blank, target: :_blank
= date_range(activity.item.start_at, activity.item.end_at)
